<h2>Update Contact</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>&nbsp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updateContact.name}}</td>
            <td><input class="form-control" ng-model="updateContact.phone"/></td>
            <td><input class="form-control" ng-model="updateContact.email"/></td>
            <td><button class="btn btn-primary" ng-click="updateContact()">Update</button></td>
        </tr>
        </<table>
<td><a href="#!">Back to contacts</a></td>